Repository adrianwedd/Agentic-Index: changes, and which pre-commit hooks are due for each by the changed paths.
All: inject-readme, pytest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: inject-readme
        name: Inject README top100
        entry: python scripts/inject_readme.py --check
        language: system
        types: [markdown]
        pass_filenames: false
        files: README\.md
      - id: pytest
        name: pytest
        entry: pytest --quiet --cov=agentic_index_cli
        language: python
        additional_dependencies: [., pytest-cov, requests, PyYAML, jsonschema, pydantic, responses, matplotlib]
        files: \.py$
      - id: detect-large-files
        name: detect-large-files
        entry: python scripts/detect_large_files.py
        language: python
        pass_filenames: false
        additional_dependencies: [pre-commit-hooks==5.0.0]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
        exclude: ^data/history/.*\.json\.gz$

docs: update coverage badge
  README.md
  agentic_index.egg-info/PKG-INFO
  agentic_index.egg-info/SOURCES.txt
  agentic_index.egg-info/requires.txt
  agentic_index.egg-info/top_level.txt
  badges/coverage.svg
  badges/last_sync.svg
  badges/repo_count.svg
  badges/top_repo.svg
  coverage.xml
  data/last_snapshot.json
  data/repos.json
Due: inject-readme

test: validate README badge block
  tests/test_readme_snapshot.py
Due: pytest

test: refine README badge format check
  tests/test_readme_snapshot.py
Due: pytest

refactor: add render_badge helper
  agentic_index_cli/helpers/__init__.py
  agentic_index_cli/helpers/markdown.py
  scripts/update_coverage_badge.py
  tests/test_render_badge.py
Due: pytest

docs: streamline badges in README
  README.md
Due: inject-readme

docs: extract Fast-Start section
  FAST_START.md
  README.md
Due: inject-readme

docs: move score formula details
  README.md
  docs/METHODOLOGY.md
  docs/REVIEW-2025-06.md
  docs/methodology.md
  mkdocs.yml
  tests/fixtures/README_fixture.md
  tests/snapshots/README.md
Due: inject-readme

docs: move honourable mentions
  HONOURABLE.md
  README.md
  tests/fixtures/README_fixture.md
  tests/snapshots/README.md
Due: inject-readme

feat(cli): add issue logger
  agentic_index_cli/__main__.py
  agentic_index_cli/issue_logger.py
  agents.md
  docs/DEVELOPMENT.md
  tests/test_issue_logger.py
Due: pytest

Add basic FastAPI server
  agentic_index_api/__init__.py
  agentic_index_api/__main__.py
  agentic_index_api/server.py
  requirements.txt
  tests/test_api_main.py
  tests/test_api_server.py
Due: pytest

feat: add /sync API endpoint
  README.md
  agents.md
  api/__init__.py
  api/app.py
  api/sync.py
  tests/test_api_sync.py
Due: inject-readme, pytest

feat: add render endpoint
  README.md
  agentic_index_cli/api.py
  pyproject.toml
  requirements.txt
  tests/test_render_endpoint.py
Due: inject-readme, pytest

feat(api): add /issue endpoint
  .pre-commit-config.yaml
  agentic_index_cli/api_server.py
  tests/test_api_issue.py
Due: pytest

Add RepoAPI with history endpoints
  README.md
  agentic_index_api/__init__.py
  agentic_index_api/main.py
  agents.md
  tests/test_api_endpoints.py
Due: inject-readme, pytest

feat(api): add /score endpoint
  README.md
  agents.md
  gh_api.py
  state/.gitkeep
  tests/test_gh_api_score.py
Due: inject-readme, pytest

deps: include fastapi server requirements
  pyproject.toml
  requirements.lock
  requirements.txt
Due: none

deps: include fastapi server requirements
  README.md
  agents.md
  gh_api.py
  pyproject.toml
  requirements.lock
  requirements.txt
  state/.gitkeep
  tests/test_gh_api_score.py
Due: inject-readme, pytest

feat(api): add auth middleware and docs
  README.md
  agentic_index_api/server.py
  agents.md
  tests/test_api_auth.py
Due: inject-readme, pytest

chore(test): remove unused import
  tests/test_gh_api_score.py
Due: pytest

chore(test): remove unused import
  README.md
  agents.md
  gh_api.py
  pyproject.toml
  requirements.lock
  requirements.txt
  state/.gitkeep
  tests/test_gh_api_score.py
Due: inject-readme, pytest

Update history and trends
  data/history/2025-06-15.json
Due: none

Refactor render endpoint
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  agentic_index_api/__init__.py
  agentic_index_api/__main__.py
  agentic_index_api/server.py
  agentic_index_cli/api_server.py
  agents.md
  api/__init__.py
  api/app.py
  api/sync.py
  data/history/2025-06-15.json
  pyproject.toml
  requirements.txt
  tests/test_api_issue.py
  tests/test_api_main.py
  tests/test_api_server.py
  tests/test_api_sync.py
  tests/test_render_endpoint.py
Due: inject-readme, pytest

Add /score endpoint
  agentic_index_api/server.py
  tests/test_api_score.py
Due: pytest

docs: add system architecture diagram and changelog
  CHANGELOG.md
  README.md
  docs/architecture.dot
  docs/architecture.svg
  docs/sphinx/index.rst
Due: inject-readme

feat(api): load sync data for scoring
  agentic_index_api/server.py
  tests/test_api_score.py
Due: pytest

Connect score API to ranking logic
  agentic_index_api/server.py
  agentic_index_cli/__main__.py
  agentic_index_cli/agentic_index.py
  repos.json
  tests/test_api_auth.py
  tests/test_api_score.py
Due: pytest

docs: add missing docstrings
  agentic_index_cli/__main__.py
  agentic_index_cli/api_server.py
  agentic_index_cli/config.py
  scripts/coverage_gate.py
  scripts/create_review_issues.py
  scripts/detect_large_files.py
  scripts/inject_readme.py
  scripts/network_guard.py
  scripts/plot_trends.py
  scripts/pr_conflict_auto_resolver.py
  scripts/ranker.py
  scripts/scrape.py
  scripts/validate_top100.py
Due: pytest

Add Codex queue scaffolding
  .codex/queue.yml
  .codex/ticket_template.md
  CONTRIBUTING.md
  scripts/codex_task_runner.py
Due: pytest

Add Codex task runner for codex_tasks.md
  scripts/codex_task_runner.py
  tests/test_codex_task_runner.py
Due: pytest

feat(issue-logging): integrate issue creation
  agentic_index_api/server.py
  agentic_index_cli/api_server.py
  agentic_index_cli/issue_logger.py
  scripts/codex_task_runner.py
  tests/test_api_issue.py
  tests/test_codex_issue_logger.py
  tests/test_issue_logger.py
Due: pytest

feat: add worklog comment support
  agentic_index_cli/issue_logger.py
  tests/test_issue_logger.py
Due: pytest

feat(cli): enhance issue_logger
  agentic_index_cli/enricher.py
  agentic_index_cli/internal/rank.py
  agentic_index_cli/issue_logger.py
  docs/DEVELOPMENT.md
  tests/test_issue_logger.py
Due: pytest

docs: add missing rich dependency
  agentic_index_cli/enricher.py
  agentic_index_cli/internal/rank.py
  docs/requirements.txt
Due: pytest

Remove deprecated score references
  agentic_index_cli/internal/inject_readme.py
  agentic_index_cli/internal/rank.py
  agentic_index_cli/validate.py
  scripts/inject_readme.py
  tests/test_inject_cli_script.py
  tests/test_sorting.py
Due: pytest

cli: allow issue-url for issue_logger
  agentic_index_cli/issue_logger.py
  docs/DEVELOPMENT.md
Due: pytest

Add codex task daemon
  agentic_index_cli/task_daemon.py
  tests/test_task_daemon.py
Due: pytest
