Repository adrianwedd/Agentic-Index: changes, and which pre-commit hooks are due for each by the changed paths.
All: inject-readme, pytest

inject-readme:
  name: Inject README top100
  entry: python scripts/inject_readme.py --check
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: pytest --quiet --cov=agentic_index_cli --cov-fail-under=0
  language: python
  additional_dependencies:
  - .
  - pytest
  - pytest-cov
  - requests
  - PyYAML
  - jsonschema
  - pydantic
  - responses
  - pytest-socket
  - pytest-env
  - typer[all]
  - matplotlib
  - fastapi
  - httpx
  - aiohttp
  - rich
  - click

feat: implement docs_score calculation and fix json_utils test
  scripts/scrape_repos.py
  tests/test_json_utils.py
Due: pytest

feat: enhance task management and implement beautiful trend visualization system
  .gitignore
  CLAUDE.md
  agentic_index.egg-info/PKG-INFO
  agentic_index.egg-info/SOURCES.txt
  agentic_index.egg-info/entry_points.txt
  agentic_index.egg-info/requires.txt
  agentic_index.egg-info/top_level.txt
  agentic_index_cli/config.yaml
  agentic_index_cli/internal/readme_utils.py
  agentic_index_cli/internal/scrape.py
  agentic_index_cli/scoring.py
  data/by_category/index.json
  data/repos.json
  docs/trends/beautiful_trends_report.txt
  docs/trends/repository_trends.csv
  requirements.txt
  scripts/plot_beautiful_trends.py
  scripts/plot_simple_trends.py
  scripts/plot_text_trends.py
  tasks.yml
  tasks_clean.yml
  tests/test_score_fuzz.py
Due: pytest

docs: create stunning ROADMAP.md and enhance README.md with premium GitHub bling
  README.md
  README_ENHANCED.md
  ROADMAP.md
Due: inject-readme

test: verify sync_utils filtering
  tests/test_sync_utils.py
Due: pytest

deploy: 729988272ba7a77745b24f722ecc899e39136e56
  .nojekyll
  data/repos.json
  index.html
Due: none

fix: resolve CI workflow failures and YAML validation errors
  .DS_Store
  .codex/queue.yml
  README.md
  agentic_index.egg-info/SOURCES.txt
  agentic_index_api/simple_app.py
  agentic_index_cli/issue_logger.py
  agentic_index_cli/scoring.py
  scripts/plot_beautiful_trends.py
  scripts/plot_simple_trends.py
  scripts/plot_trends.py
  scripts/sync_queue_to_issues.py
  scripts/validate_fixtures.py
  tasks.yml
  tests/fixtures/README_fixture.md
  tests/test_quality_metrics_extra.py
Due: inject-readme, pytest

🚀 Add comprehensive CI/CD health monitoring system
  .github/workflows/ci-health-monitor.yml
  agentic_index_cli/enricher.py
  docs/ci-monitoring.md
  scripts/ci_status_monitor.py
  scripts/create_ci_issues.py
  web/ci_dashboard.html
  web/ci_report.json
  web/index.html
Due: pytest

fix: resolve CI workflow failures and validation errors
  .devcontainer/devcontainer.json
  .python-version
  README.md
  agentic_index_api/simple_app.py
  agentic_index_cli/enricher.py
  agentic_index_cli/internal/scrape.py
  agentic_index_cli/issue_logger.py
  agentic_index_cli/scoring.py
  data/repos.json
  requirements.txt
  scripts/ci_status_monitor.py
  scripts/create_ci_issues.py
  scripts/plot_beautiful_trends.py
  scripts/plot_simple_trends.py
  scripts/plot_text_trends.py
  scripts/plot_trends.py
  scripts/scrape_repos.py
  scripts/sync_queue_to_issues.py
  tests/fixtures/README_fixture.md
  tests/test_json_utils.py
  tests/test_quality_metrics_extra.py
  tests/test_sync_utils.py
Due: inject-readme, pytest

fix: resolve bandit installation and flake8 linting issues
  .github/workflows/ci.yml
  scripts/ci_status_monitor.py
  scripts/create_ci_issues.py
  scripts/plot_beautiful_trends.py
  scripts/plot_simple_trends.py
  scripts/plot_text_trends.py
Due: pytest

fix: add default values to API configuration for testing
  agentic_index_api/config.py
Due: pytest

fix: improve API configuration handling for testing environments
  agentic_index_api/config.py
  agentic_index_api/server.py
Due: pytest

fix: resolve API test failures using pytest fixtures
  agentic_index_api/server.py
  tests/conftest.py
Due: pytest

fix: resolve lint-format and security scan issues
  .flake8
  agentic_index_cli/task_daemon.py
Due: pytest

fix: resolve remaining CI failures - API config and formatting
  agentic_index_api/config.py
  agentic_index_cli/task_daemon.py
Due: pytest

fix: resolve isort import sorting issue in API config
  agentic_index_api/config.py
Due: pytest

feat: achieve 8/8 CI workflows passing - final fixes
  .bandit
  .github/workflows/ci.yml
  agentic_index_api/server.py
  data/repos.json
Due: pytest

fix: resolve black formatting issue in server.py
  agentic_index_api/server.py
Due: pytest

fix: resolve all major CI/CD test failures to achieve 8/8 workflow success
  README.md
  data/repos.json
  regression_allowlist.yml
  tests/fixtures/README_fixture.md
  tests/test_sync_queue_to_issues.py
Due: inject-readme, pytest

fix: resolve API test import issues causing CI failures
  tests/test_api_endpoints.py
  tests/test_api_sync.py
  tests/test_render_endpoint.py
  tests/test_sync_queue_to_issues.py
  tests/test_sync_utils.py
Due: pytest

fix: add defensive error handling to API tests for CI stability
  coverage.xml
  tests/test_api_auth.py
  tests/test_api_endpoints.py
  tests/test_api_server_endpoints.py
  tests/test_api_sync.py
  tests/test_render_endpoint.py
  tests/test_sync_utils.py
Due: pytest

fix: add defensive error handling to test_module_entry API test
  tests/test_api_main.py
Due: pytest

style: format test_api_main.py with black
  tests/test_api_main.py
Due: pytest

fix: update test fixtures to match current repository data state
  tests/fixtures/README_fixture.md
  tests/fixtures/data/repos.json
Due: none

fix: lower coverage gate threshold to 75% to match current coverage
  scripts/coverage_gate.py
Due: pytest

fix: update coverage gate tests to match new 75% threshold
  tests/test_coverage_gate.py
Due: pytest

fix: align all coverage thresholds to 74% to match actual coverage
  .github/workflows/ci.yml
  scripts/coverage_gate.py
  tests/test_coverage_gate.py
Due: pytest

docs: comprehensive CI/CD improvement documentation
  docs/CI_CD_IMPROVEMENTS.md
  docs/CI_FIXES_BEFORE_AFTER.md
  docs/CI_MAINTENANCE_PLAYBOOK.md
Due: none

fix: correct f-string indentation in ci-health-monitor.yml
  .github/workflows/ci-health-monitor.yml
Due: none

Add comprehensive repository review
  CODEX-REVIEW.md
Due: none

fix(ci): add ANTHROPIC_API_KEY to claude-code-action + contents permission
  .github/workflows/claude-code-action.yml
Due: none

🤖 Update CI health dashboard and reports
  web/ci_dashboard.html
  web/ci_health_badge.json
  web/ci_report.json
  web/ci_status.md
Due: none

🤖 Update CI health dashboard and reports
  web/ci_dashboard.html
  web/ci_report.json
  web/ci_status.md
Due: none

Path conditions:
  inject-readme: any of: README\.md and \.(md|markdown|mdown)$
  pytest: any of: \.py$, but not: ^scripts/(score_metrics|propagate_pr_tasks)\.py$
