Repository adrianwedd/Agentic-Index: changes, and which pre-commit hooks are due for each by the changed paths.
All: inject-readme, pytest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: inject-readme
        name: Inject README top50
        entry: python scripts/inject_readme.py --check
        language: system
        types: [markdown]
        files: README\.md
      - id: pytest
        name: pytest
        entry: pytest --quiet --cov=agentic_index_cli
        language: system
        files: \.py$

feat(validation): add repo schema and validator
  .github/workflows/update.yml
  agentic_index_cli/internal/rank.py
  agentic_index_cli/quality/__init__.py
  agentic_index_cli/quality/validate.py
  requirements.txt
  schemas/repo.schema.json
  tests/test_validation_dup.py
  tests/test_validation_ok.py
Due: pytest

Add large file detection and Git LFS docs
  .gitattributes
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  docs/secrets-and-lfs.md
Due: inject-readme

Add benchmarking tools and performance optimisations
  agentic_index_cli/agentic_index.py
  bench/benchmark.py
  bench/profile.py
  requirements.txt
  tests/test_perf.py
Due: pytest

feat(cli): migrate to typer with progress
  agentic_index_cli/__main__.py
  agentic_index_cli/agentic_index.py
  requirements.txt
  setup.cfg
  tests/test_cli_exitcodes.py
  tests/test_cli_help.py
Due: pytest

Fix ranking score computation
  README.md
  agentic_index_cli/internal/rank.py
  data/repos.json
  data/top50.md
  tests/test_score_nonzero.py
Due: inject-readme, pytest

Add dependencies and entry point to pyproject
  .github/workflows/ci.yml
  .gitignore
  agentic_index_cli/inject.py
  agentic_index_cli/ranker.py
  agentic_index_cli/scraper.py
  pyproject.toml
Due: pytest

Add comprehensive test suite and raise coverage gate
  scripts/coverage_gate.py
  tests/test_categorize_more.py
  tests/test_cli_wrappers.py
  tests/test_extract.py
  tests/test_inject_markers.py
  tests/test_main_cli.py
  tests/test_run_index.py
  tests/test_score_formula.py
  tests/test_search_pagination.py
Due: pytest

feat: add robust scraper error handling
  agentic_index_cli/exceptions.py
  agentic_index_cli/internal/scrape.py
  pyproject.toml
  requirements.txt
  tests/test_scrape_errors.py
Due: pytest

ci: add security scanning
  .github/workflows/pip-audit.yml
  .github/workflows/trufflehog.yml
  docs/SECURITY.md
Due: none

docs: add development guide
  CONTRIBUTING.md
  README.md
  docs/DEVELOPMENT.md
  mkdocs.yml
Due: inject-readme

Add typed repo validation and schema version
  .github/workflows/update.yml
  agentic_index_cli/enricher.py
  agentic_index_cli/faststart.py
  agentic_index_cli/internal/rank.py
  agentic_index_cli/internal/scrape.py
  agentic_index_cli/prune.py
  agentic_index_cli/validate.py
  data/repos.json
  repos.json
  tests/test_enricher.py
  tests/test_faststart.py
  tests/test_prune.py
  tests/test_quota.py
  tests/test_rank_cli.py
  tests/test_rank_positive.py
  tests/test_ranking.py
  tests/test_refresh_flags.py
  tests/test_schema.py
  tests/test_score_nonzero.py
  tests/test_update_diff.py
  tests/test_validation_dup.py
  tests/test_validation_migrate.py
  tests/test_validation_ok.py
Due: pytest

Add delta metrics and update table
  README.md
  agentic_index_cli/internal/inject_readme.py
  agentic_index_cli/internal/rank.py
  agentic_index_cli/validate.py
  data/repos.json
  data/top50.md
  tests/test_deltas.py
  tests/test_inject_markers.py
  tests/test_inject_script.py
Due: inject-readme, pytest

fix: tune regression check allowlist
  .github/workflows/ci.yml
  agentic_index_cli/internal/regression_check.py
  docs/CONFLICT_RESOLUTION.md
  regression_allowlist.yml
  scripts/regression_check.py
  tests/test_regression_check.py
Due: pytest

Fix pip-audit workflow
  .github/workflows/pip-audit.yml
Due: none

ci: build web site and add badge
  .github/workflows/mkdocs.yml
  README.md
Due: inject-readme

Create jekyll-gh-pages.yml
  .github/workflows/jekyll-gh-pages.yml
Due: none

fix README injection idempotency
  agentic_index_cli/internal/inject_readme.py
  docs/DEVELOPMENT.md
Due: pytest

fix: stabilise README injection deltas
  .github/workflows/ci.yml
  .gitignore
  agentic_index_cli/internal/inject_readme.py
  tests/test_inject_script.py
  tests/test_sync.py
Due: pytest

Require pydantic v2
  agentic_index_cli/internal/scrape.py
  agentic_index_cli/validate.py
  pyproject.toml
  requirements.txt
Due: pytest

test: support new delta tokens
  README.md
  data/top50.md
  tests/_utils.py
  tests/test_sync.py
Due: inject-readme, pytest

ci: automate release notes with release-drafter
  .github/dependabot.yml
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  CONTRIBUTING.md
  README.md
Due: inject-readme

ci: pin gh-action-pip-audit to v1.1.4
  .github/workflows/pip-audit.yml
Due: none

ci: add shell keys to behind-check action
  .github/actions/behind-check/action.yml
  scripts/behind_check.sh
  tests/test_behind_check.sh
Due: none

test: add coverage to hit 80% gate
  CONTRIBUTING.md
  README.md
  agentic_index_cli/internal/deltas.py
  tests/test_deltas_edge.py
  tests/test_fetch_badge.py
  tests/test_inject_dry_run.py
  tests/test_regression_allowlist.py
  tests/test_score_fuzz.py
Due: inject-readme, pytest

ci: repair trufflehog SARIF upload
  .github/workflows/trufflehog.yml
Due: none

Refactor behind-check script to warn
  scripts/behind_check.sh
  tests/test_behind_check.sh
Due: none

ci: fix pip-audit action tag
  .github/workflows/pip-audit.yml
Due: none

fix badge fetching and add snapshot stub
  .gitignore
  agentic_index_cli/internal/rank.py
  data/last_snapshot.json
Due: pytest

ci: fix trufflehog scan
  .github/workflows/trufflehog.yml
Due: none

ci: fix pip-audit workflow
  .github/workflows/pip-audit.yml
Due: none

Fix TruffleHog action version
  .github/workflows/trufflehog.yml
Due: none

ci: output pip-audit json
  .github/workflows/pip-audit.yml
Due: none

test: boost coverage
  tests/test_cli.py
  tests/test_coverage_gate.py
  tests/test_fetch_badge.py
  tests/test_fmt_delta.py
  tests/test_inject_readme_unit.py
  tests/test_link_utils.py
Due: pytest

fix: reference TruffleHog composite action
  .github/workflows/trufflehog.yml
Due: none

fix tests for badge fetch and readme injector
  agentic_index_cli/internal/inject_readme.py
  tests/test_fetch_badge.py
  tests/test_inject_dry_run.py
Due: pytest

test: cover badge fetch overwrite cases
  tests/test_fetch_badge.py
Due: pytest

docs: sync README top50 and improve test
  .github/workflows/ci.yml
  data/top50.md
  tests/test_inject_dry_run.py
Due: pytest

fix: use wrapper action for trufflehog
  .github/workflows/trufflehog.yml
Due: none

tests: use realistic SVG for fetch_badge
  tests/test_fetch_badge.py
Due: pytest

Refresh README snapshot and relax inject test
  README.md
  data/repos.json
  data/top50.md
  docs/DEVELOPMENT.md
  tests/test_inject_dry_run.py
Due: inject-readme, pytest
