Repository adrianwedd/Agentic-Index: changes, and which pre-commit hooks are due for each by the changed paths.
All: inject-readme, pytest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: inject-readme
        name: Inject README top100
        entry: python scripts/inject_readme.py --check
        language: system
        types: [markdown]
        pass_filenames: false
        files: README\.md
      - id: pytest
        name: pytest
        entry: pytest --quiet --cov=agentic_index_cli
        language: python
        additional_dependencies: [., pytest-cov, requests, PyYAML, jsonschema, pydantic, responses, matplotlib]
        files: \.py$
      - id: detect-large-files
        name: detect-large-files
        entry: python scripts/detect_large_files.py
        language: python
        pass_filenames: false
        additional_dependencies: [pre-commit-hooks==5.0.0]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
        exclude: ^data/history/.*\.json\.gz$

Fix tests imports and add isort config
  .pre-commit-config.yaml
  pyproject.toml
  tests/__init__.py
  tests/test_api_score.py
  tests/test_inject_dry_run.py
  tests/test_parse_table_abbr.py
  tests/test_readme_snapshot.py
Due: pytest

test: ensure issue runner test ignores GitHub env
  tests/test_codex_issue_logger.py
Due: pytest

chore(ci): use github.token with job permissions
  .github/workflows/auto-rebase.yml
  .github/workflows/ci.yml
  .github/workflows/ci_audit.yml
  .github/workflows/deploy_site.yml
  .github/workflows/docs.yml
  .github/workflows/mkdocs.yml
  .github/workflows/notify.yml
  .github/workflows/pip-audit.yml
  .github/workflows/rank.yml
  .github/workflows/refresh.yml
  .github/workflows/safe-rebase.yml
  .github/workflows/stale-branch.yml
  .github/workflows/trivy.yml
  .github/workflows/trufflehog.yml
  .github/workflows/update.yml
Due: none

Enhance issue logger CLI
  agentic_index_cli/issue_logger.py
  docs/DEVELOPMENT.md
  tests/test_codex_issue_logger.py
  tests/test_issue_logger.py
Due: pytest

test: increase coverage
  tests/test_inject_readme_cli.py
  tests/test_task_daemon.py
Due: pytest

feat(issue_logger): add worklog CLI support
  agentic_index_cli/issue_logger.py
  tests/test_issue_logger.py
Due: pytest

docs: add manual test report for issue_logger
  docs/test-issue-logger.md
Due: none

test: allow unix sockets for TestClient
  README.md
  tests/conftest.py
  tests/fixtures/README_fixture.md
  tests/snapshots/README.md
Due: inject-readme, pytest

fix history parsing
  agentic_index_api/main.py
Due: pytest

chore(data): nightly agent index refresh
  README.md
  agentic_index.egg-info/PKG-INFO
  agentic_index.egg-info/SOURCES.txt
  agentic_index.egg-info/requires.txt
  agentic_index.egg-info/top_level.txt
  data/history/2025-06-15.json
  data/last_snapshot.txt
  data/repos.json
  data/top100.md
Due: inject-readme

fix(readme-refresh): run full scraper
  .github/workflows/refresh.yml
  tests/snapshots/README.md
Due: inject-readme

chore(data): nightly agent index refresh
  README.md
  data/history/2025-06-16.json
  data/last_snapshot.txt
  data/top100.md
Due: inject-readme

ci: install formatting tools
  CONTRIBUTING.md
  README.md
  scripts/agent-setup.sh
  tests/snapshots/README.md
Due: inject-readme

fix: inject timestamp into README
  README.md
  agentic_index_cli/internal/inject_readme.py
Due: inject-readme, pytest

docs: add deployment workflow notes
  .github/workflows/deploy_site.yml
  CONTRIBUTING.md
Due: none

ci: run extended metrics pipeline
  .github/workflows/refresh.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  data/repos.json
  scripts/score_metrics.py
Due: pytest

chore: run extended scraper
  .github/workflows/update.yml
  README.md
  agents.md
  docs/REFRESH.md
Due: inject-readme

Add min-stars and output options to scraper
  scripts/scrape_repos.py
Due: pytest

fix scraper license field
  scripts/scrape_repos.py
Due: pytest

fix mkdocs gh-pages push
  .github/workflows/mkdocs.yml
Due: none

fix: handle missing PR in preview comment
  .github/workflows/deploy_site.yml
Due: none

cli: accept new enrichment fields
  agentic_index_cli/validate.py
  tests/test_validation_extra.py
Due: pytest

fix: repair refresh workflow yaml
  .github/workflows/ci.yml
  .github/workflows/refresh.yml
  .pre-commit-config.yaml
Due: none

Improve scraper resiliency
  scripts/scrape_repos.py
  tests/test_scrape_repos.py
Due: pytest

Add coverage tests for quality metrics and scoring
  tests/test_agentic_index_network.py
  tests/test_quality_metrics_extra.py
Due: pytest

docs: update coverage badge
  README.md
  agentic_index.egg-info/SOURCES.txt
  badges/coverage.svg
  badges/last_sync.svg
  badges/repo_count.svg
  badges/top_repo.svg
  coverage.xml
  data/last_snapshot.json
  data/repos.json
Due: inject-readme

ci: fix coverage badge PR checkout
  .github/workflows/ci.yml
Due: none

refactor(cli): migrate simple entrypoints to click
  .pre-commit-config.yaml
  agentic_index_cli/helpers/click_options.py
  agentic_index_cli/ranker.py
  agentic_index_cli/scraper.py
  agentic_index_cli/validate.py
  requirements.txt
Due: pytest

docs: reference updated metrics modules
  CHANGELOG.md
  SCHEMA.md
  agents.md
  docs/SCHEMA.md
  tests/snapshots/README.md
Due: inject-readme

ci: add security and style gates
  .github/workflows/ci.yml
  README.md
  badges/security.svg
  scripts/agent-setup.sh
  scripts/update_security_badge.py
  tests/test_update_security_badge.py
Due: inject-readme, pytest

docs: update coverage badge
  README.md
  agentic_index.egg-info/SOURCES.txt
  badges/coverage.svg
  badges/last_sync.svg
  badges/repo_count.svg
  badges/security.svg
  badges/top_repo.svg
  coverage.xml
  data/last_snapshot.json
  data/repos.json
Due: inject-readme

feat(metrics): add plugin registry
  agentic_index_cli/internal/rank.py
  docs/methodology.md
  docs/plugin-metrics.md
  lib/metrics_registry.py
  lib/quality_metrics.py
  tests/test_metric_plugins.py
Due: pytest

feat: integrate queue monitor
  .github/workflows/queue-check.yml
  AGENTS.md
  agentic_index_cli/internal/issue_logger.py
  agentic_index_cli/task_daemon.py
  scripts/check_queue_sync.py
  tests/test_internal_issue_logger.py
  tests/test_queue_sync.py
  tests/test_task_daemon.py
Due: pytest

feat: sync PRs with tracking issues
  .github/workflows/pr-sync.yml
  AGENTS.md
  agentic_index_cli/issue_logger.py
  agentic_index_cli/task_daemon.py
  tests/test_pr_issue_sync.py
Due: pytest
