Repository adrianwedd/Agentic-Index: changes, and which pre-commit hooks are due for each by the changed paths.
All: inject-readme, pytest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: inject-readme
        name: Inject README top100
        entry: python scripts/inject_readme.py --check
        language: system
        types: [markdown]
        pass_filenames: false
        files: README\.md
      - id: fixtures-validate
        name: Validate README fixtures
        entry: python scripts/validate_fixtures.py
        language: system
        pass_filenames: false
      - id: pytest
        name: pytest
        entry: pytest --quiet --cov=agentic_index_cli --cov-fail-under=0
        language: python
        additional_dependencies: [., pytest, pytest-cov, requests, PyYAML, jsonschema, pydantic, responses, pytest-socket, pytest-env, "typer[all]", matplotlib, fastapi, httpx, rich, click]
        files: \.py$
        exclude: ^scripts/(score_metrics|propagate_pr_tasks)\.py$
      - id: detect-large-files
        name: detect-large-files
        entry: python scripts/detect_large_files.py
        language: python
        pass_filenames: false
        additional_dependencies: [pre-commit-hooks==5.0.0]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
        exclude: ^data/history/.*\.json\.gz$

  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.24
    hooks:
      - id: actionlint

Add dual license and update metadata
  LICENSE
  README.md
  pyproject.toml
Due: inject-readme

chore: nightly metrics refresh ()
  .cache/repo_octocat_Hello-World.json
  badges/last_sync.svg
  badges/repo_count.svg
  badges/top_repo.svg
  data/by_category/General-purpose.json
  data/by_category/index.json
  data/hist/2025-06-17.json
  data/history/2025-06-17.json
  data/last_snapshot.txt
  data/top100.md
  pr_body.txt
  rate.json
Due: none

docs: add unified pipeline improvement epic
  docs/epics/unified_pipeline_epic.md
  tests/fixtures/README_fixture.md
Due: none

refactor: consolidate scraping and ranking
  .devcontainer/devcontainer.json
  .github/workflows/update.yml
  .gitignore
  scripts/pr_conflict_auto_resolver.py
  scripts/rank.py
  scripts/ranker.py
  scripts/scrape.py
  tests/test_badge_cache.py
  tests/test_badge_offline.py
  tests/test_badges.py
  tests/test_config.py
  tests/test_deltas.py
  tests/test_rank_cli.py
  tests/test_rank_positive.py
  tests/test_ranking.py
  tests/test_score_nonzero.py
Due: pytest

ci: harden workflows
  .github/workflows/ci.yml
  .github/workflows/rank.yml
Due: none

docs: update CLI and contributor guides
  CONTRIBUTING.md
  FAST_START.md
  README.md
  docs/cli.md
  tests/fixtures/README_fixture.md
Due: inject-readme

Improve scraping efficiency and add caching
  agentic_index_cli/agentic_index.py
Due: pytest

Update fixture for current data
  LICENSE
  pyproject.toml
  tests/fixtures/README_fixture.md
Due: none

docs: tidy README badge block
  README.md
  tests/fixtures/README_fixture.md
  tests/snapshots/README.md
Due: inject-readme

docs: outline pipeline reliability epic
  docs/epics/pipeline_reliability_epic.md
Due: none

ci: harden actions
  .github/workflows/ci.yml
  .github/workflows/rank.yml
  .github/workflows/update.yml
Due: none

Add schema validation and script tests
  agentic_index_cli/agentic_index.py
  agentic_index_cli/enricher.py
  scripts/score_metrics.py
  scripts/validate_fixtures.py
  tests/fixtures/README_fixture.md
  tests/test_enricher.py
  tests/test_score_metrics_script.py
  tests/test_scrape_mock.py
Due: pytest

Implement async scraping with shared retry logic
  agentic_index_cli/agentic_index.py
  agentic_index_cli/internal/http_utils.py
  agentic_index_cli/internal/scrape.py
  requirements.txt
  scripts/scrape_repos.py
  scripts/trigger_refresh.sh
  tests/test_agentic_index_network.py
  tests/test_cli_exitcodes.py
  tests/test_pipeline_integration.py
  tests/test_quota.py
  tests/test_refresh_flags.py
  tests/test_scrape_errors.py
  tests/test_scrape_mock.py
  tests/test_scrape_repos.py
  tests/test_scrape_repos_cache.py
  tests/test_search_pagination.py
Due: pytest

docs: add QA & UAT report for 0.1.1
  docs/qa_uat_report_0.1.1.md
Due: none

test: fix scrape mock imports
  .pre-commit-config.yaml
  tests/test_scrape_mock.py
Due: pytest

Add path checks and dry-run option
  agentic_index_cli/internal/inject_readme.py
  data/by_category/index.json
  tests/test_category_cli_integration.py
  tests/test_category_readme.py
  tests/test_inject_dry_run.py
  tests/test_inject_markers.py
  tests/test_inject_readme_unit.py
  tests/test_inject_row_count.py
  tests/test_inject_script.py
  tests/test_pipeline_integration.py
  tests/test_snapshot_presence.py
  tests/test_sync.py
Due: pytest

Remove duplicate repo file and standardize path
  .github/workflows/rank.yml
  docs/REFRESH.md
  tests/test_cli_smoke.py
  web/data/repos.json
  web/package.json
Due: pytest

feat(api): log auth info and improve unauthorized response
  agentic_index_api/server.py
  tests/test_api_auth.py
Due: pytest

Add tests for load rows and API dry run
  tests/test_api_auth.py
  tests/test_api_score.py
  tests/test_inject_readme_unit.py
  tests/test_issue_logger.py
Due: pytest

ci: enforce strict bash and json checks
  .github/workflows/ci.yml
  .github/workflows/inject-readme.yml
  .github/workflows/rank.yml
  .github/workflows/refresh.yml
  .github/workflows/update.yml
Due: none

feat: add mypy config and coverage docs
  .github/workflows/ci.yml
  CONTRIBUTING.md
  agentic_index_cli/internal/rank.py
  dev-requirements.txt
  mypy.ini
Due: pytest

docs: describe force injection
  README.md
  agentic_index_cli/inject_readme.py
  scripts/inject_readme.py
  tests/fixtures/README_fixture.md
Due: inject-readme, pytest

build: improve dependency and release automation
  .github/dependabot.yml
  .github/workflows/publish-release.yml
  CHANGELOG.md
Due: none

ci: enforce coverage
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  dev-requirements.txt
  docs/ONBOARDING.md
Due: none

Add structlog logging and optional Sentry
  agentic_index_api/server.py
  agentic_index_cli/__main__.py
  agentic_index_cli/logging_config.py
  pyproject.toml
  requirements.txt
Due: pytest

feat: add once-per-day guard and jinja table
  agentic_index_cli/agentic_index.py
  agentic_index_cli/helpers/once_per_day.py
  scripts/generate_badges.py
  tests/test_once_per_day.py
Due: pytest

Refactor markdown generation with Jinja2 and add badge guard test
  agentic_index_cli/internal/inject_readme.py
  agentic_index_cli/internal/rank.py
  tests/test_generate_badges_guard.py
Due: pytest

docs: update CLI example to agentic-index
  README.md
  tests/fixtures/README_fixture.md
Due: inject-readme

Add detect-secrets pre-commit hook
  .flake8
  .pre-commit-config.yaml
Due: none

feat: add json caching utils and performance docs
  agentic_index_api/main.py
  agentic_index_cli/internal/json_utils.py
  agentic_index_cli/validate.py
  docs/PERFORMANCE.md
  mkdocs.yml
  scripts/benchmark_ops.py
Due: pytest

Add category navigation
  README.md
  README_DevTools.md
  README_Domain-Specific.md
  README_Experimental.md
  README_General-purpose.md
  README_Multi-Agent.md
  README_RAG-centric.md
Due: inject-readme

Clean imports and wrap lines in server
  agentic_index_api/server.py
Due: pytest

Generate top100 table
  top100.md
Due: none

Add security scanning and signed release
  .github/workflows/fossa.yml
  .github/workflows/publish-release.yml
  .github/workflows/snyk.yml
  CONTRIBUTING.md
  README.md
  badges/license_compliance.svg
  tests/fixtures/README_fixture.md
  tests/snapshots/README.md
Due: inject-readme

Refine server data load and URL handling
  agentic_index_api/server.py
Due: pytest

chore: document cycle completion
  ARCHITECTURE.md
  CHANGELOG.md
  agentic_index_cli/validate.py
  tasks.yml
  tests/fixtures/README_fixture.md
  tests/test_load_repos.py
Due: pytest

docs: add API reference and getting started
  README.md
  docs/reference/agentic_index_api.md
  mkdocs.yml
  tests/fixtures/README_fixture.md
Due: inject-readme

Fix validate load_json call and update fixtures
  agentic_index_cli/validate.py
  tests/fixtures/data/repos.json
  tests/fixtures/data/top100.md
  tests/test_inject_dry_run.py
Due: pytest
