Repository adrianwedd/Agentic-Index: changes, and which pre-commit hooks are due for each by the changed paths.
All: inject-readme, pytest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: inject-readme
        name: Inject README top100
        entry: python scripts/inject_readme.py --check
        language: system
        types: [markdown]
        pass_filenames: false
        files: README\.md
      - id: pytest
        name: pytest
        entry: pytest --quiet --cov=agentic_index_cli --cov-fail-under=0
        language: python
        additional_dependencies: [., pytest-cov, requests, PyYAML, jsonschema, pydantic, responses, matplotlib, fastapi, httpx, rich]
        files: \.py$
        exclude: ^scripts/score_metrics\.py$
      - id: detect-large-files
        name: detect-large-files
        entry: python scripts/detect_large_files.py
        language: python
        pass_filenames: false
        additional_dependencies: [pre-commit-hooks==5.0.0]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
        exclude: ^data/history/.*\.json\.gz$

feat: integrate pipeline and add test
  .github/workflows/refresh.yml
  Makefile
  scripts/scrape_repos.py
  tests/test_pipeline_integration.py
Due: pytest

feat: propagate closed PR tasks
  .github/workflows/propagate-pr-tasks.yml
  .pre-commit-config.yaml
  scripts/propagate_pr_tasks.py
Due: pytest

ci: fix pr-sync quoting
  .github/workflows/pr-sync.yml
Due: none

Add issue-first workflow and automation
  .github/workflows/pr-validate.yml
  .github/workflows/queue-sync.yml
  AGENTS.md
  agentic_index_cli/issue_logger.py
  agentic_index_cli/task_daemon.py
  scripts/sync_queue_to_issues.py
  tests/test_issue_logger.py
  tests/test_sync_queue_to_issues.py
  tests/test_task_daemon.py
Due: pytest

docs: update coverage badge
  README.md
  agentic_index.egg-info/SOURCES.txt
  badges/coverage.svg
  badges/last_sync.svg
  badges/repo_count.svg
  badges/security.svg
  badges/top_repo.svg
  coverage.xml
  data/last_snapshot.json
  data/repos.json
Due: inject-readme

Make README injection robust with explicit errors
  agentic_index_api/main.py
  agentic_index_cli/inject_readme.py
  agentic_index_cli/internal/inject_readme.py
  repos.json
  scripts/inject_readme.py
  scripts/scrape_repos.py
  tests/test_api_endpoints.py
  tests/test_cli_wrappers.py
  tests/test_inject_cli_script.py
  tests/test_inject_dry_run.py
  tests/test_inject_markers.py
  tests/test_inject_readme_cli.py
  tests/test_inject_readme_unit.py
  tests/test_inject_script.py
  tests/test_no_zero_metrics.py
  tests/test_pipeline_integration.py
  tests/test_snapshot_presence.py
  tests/test_sorting.py
  tests/test_sync.py
Due: pytest

Improve README injector validation
  agentic_index_cli/internal/inject_readme.py
  tests/test_inject_readme_unit.py
  tests/test_inject_row_count.py
Due: pytest

docs: add codex task template
  AGENTS.md
  scripts/codex_task_runner.py
  tests/test_codex_task_runner.py
Due: pytest

feat(schema): add v3 repo schema
  SCHEMA.md
  schemas/repo.schema.json
Due: none

feat: expand enricher
  agentic_index_cli/enricher.py
  tests/test_enricher.py
Due: pytest

Update README injection for schema v3
  README.md
  agentic_index_cli/internal/inject_readme.py
  scripts/inject_readme.py
  tests/_utils.py
  tests/fixtures/README_fixture.md
  tests/helpers.py
  tests/test_inject_cli_script.py
  tests/test_inject_dry_run.py
  tests/test_inject_markers.py
  tests/test_inject_readme_unit.py
  tests/test_inject_row_count.py
  tests/test_inject_script.py
  tests/test_no_zero_metrics.py
  tests/test_pipeline_integration.py
  tests/test_snapshot_presence.py
  tests/test_sorting.py
  tests/test_sync.py
Due: inject-readme, pytest

test: update fixtures and validation for schema v3
  agentic_index_cli/validate.py
  tests/fixtures/data/repos.json
  tests/fixtures/data/top100.md
  tests/snapshots/README.md
  tests/test_inject_readme_unit.py
  tests/test_validation_extra.py
Due: inject-readme, pytest

docs: add metrics schema
  README.md
  docs/METRICS_SCHEMA.md
  docs/SCHEMA.md
  docs/cli.md
  docs/reference/agentic_index_cli.md
  tests/snapshots/README.md
Due: inject-readme

chore: suppress pip root warning
  scripts/agent-setup.sh
Due: none

docs: add consolidated onboarding guide
  README.md
  docs/DEVELOPMENT.md
  docs/ONBOARDING.md
Due: inject-readme

Add environment setup script
  AGENTS.md
  README.md
  docs/DEVELOPMENT.md
  docs/test-issue-logger.md
  scripts/setup-env.sh
  tests/snapshots/README.md
Due: inject-readme

ci: parallelize jobs and add caching
  .github/workflows/ci.yml
Due: none

feat: add devcontainer support
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/devcontainer.yml
  docs/ONBOARDING.md
  docs/index.md
  scripts/setup-env.sh
Due: none

test: validate env and dependencies
  .pre-commit-config.yaml
  README.md
  pytest.ini
  requirements.lock
  requirements.txt
  tests/conftest.py
  tests/fixtures/README_fixture.md
  tests/snapshots/README.md
  tests/test_badge_cache.py
  tests/test_badge_offline.py
  tests/test_cli_exitcodes.py
  tests/test_fetch_badge.py
  tests/test_link_integrity.py
  tests/test_update_coverage_badge.py
  tests/test_update_security_badge.py
Due: inject-readme, pytest

feat: output per-category lists
  agentic_index_cli/internal/rank.py
  agentic_index_cli/validate.py
  schemas/repo.schema.json
  scripts/scrape_repos.py
  tests/test_by_category.py
Due: pytest

feat: generate per-category README tables
  agentic_index_cli/internal/inject_readme.py
  scripts/inject_readme.py
  tests/test_category_readme.py
  tests/test_inject_cli_script.py
Due: pytest

feat: add category-aware refresh
  scripts/refresh_category.py
  scripts/trigger_refresh.sh
Due: pytest

docs: add category navigation section
  README.md
  agentic_index_cli/internal/inject_readme.py
  tests/snapshots/README.md
  tests/test_category_section.py
Due: inject-readme, pytest

feat(scraper): fetch repository topics
  SCHEMA.md
  scripts/scrape_repos.py
  tests/fixtures/data/repos.json
  tests/test_pipeline_integration.py
  tests/test_scrape_repos.py
Due: pytest

Add QA review artifacts for CR-AI-114
  reports/qa-cr-ai-114-checklist.md
  reports/qa-cr-ai-114.md
  tests/qa/test_category_feature_matrix.yml
Due: none

Add category outputs and README generation
  agentic_index_cli/internal/inject_readme.py
  docs/ONBOARDING.md
  scripts/refresh_category.py
  tests/test_category_cli_integration.py
  tests/test_category_section.py
  tests/test_refresh_category_integration.py
Due: pytest

docs: add pipeline audit report and smoke test
  .github/workflows/ci.yml
  reports/pipeline-audit-cr-ai-118.md
  reports/pipeline-audit-next-steps.md
  tests/qa/test_pipeline_smoke.yml
Due: none

fix rank script import path
  scripts/rank.py
Due: pytest

feat(readme): add description column and links
  README.md
  agentic_index_cli/internal/inject_readme.py
  agentic_index_cli/internal/rank.py
  tests/_utils.py
  tests/fixtures/README_fixture.md
  tests/fixtures/data/top100.md
  tests/snapshots/README.md
  tests/test_category_readme.py
  tests/test_category_section.py
  tests/test_inject_dry_run.py
  tests/test_inject_markers.py
  tests/test_inject_readme_unit.py
  tests/test_inject_script.py
  tests/test_no_zero_metrics.py
  tests/test_sync.py
Due: inject-readme, pytest

test: update fixtures for new readme layout
  README.md
  agentic_index_cli/internal/inject_readme.py
  tests/_utils.py
  tests/fixtures/README_fixture.md
  tests/fixtures/data/top100.md
  tests/snapshots/README.md
  tests/test_category_section.py
  tests/test_inject_dry_run.py
  tests/test_inject_markers.py
  tests/test_inject_readme_unit.py
  tests/test_inject_row_count.py
  tests/test_inject_script.py
  tests/test_sorting.py
  tests/test_sync.py
Due: inject-readme, pytest

test: update sync and tolerance checks for 6-column table
  tests/test_inject_dry_run.py
  tests/test_sync.py
Due: pytest

ci: validate README fixtures
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  docs/dev/contributing.md
  scripts/validate_fixtures.py
Due: pytest

test: assert README headers and env tolerances
  tests/test_inject_dry_run.py
Due: pytest

fix: package CLI for install
  docs/CI_SETUP.md
  docs/dev/contributing.md
  pyproject.toml
  setup.cfg
Due: none

ci: schedule README injector
  .github/workflows/inject-readme.yml
  .github/workflows/refresh.yml
  docs/dev/contributing.md
Due: none
