Repository adrianwedd/Agentic-Index: changes, and which pre-commit hooks are due for each by the changed paths.
All: inject-readme, pytest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: inject-readme
        name: Inject README top100
        entry: python scripts/inject_readme.py --check
        language: system
        types: [markdown]
        pass_filenames: false
        files: README\.md
      - id: fixtures-validate
        name: Validate README fixtures
        entry: python scripts/validate_fixtures.py
        language: system
        pass_filenames: false
      - id: pytest
        name: pytest
        entry: pytest --quiet --cov=agentic_index_cli --cov-fail-under=0
        language: python
        additional_dependencies: [., pytest, pytest-cov, requests, PyYAML, jsonschema, pydantic, responses, pytest-socket, pytest-env, "typer[all]", matplotlib, fastapi, httpx, aiohttp, rich, click]
        files: \.py$
        exclude: ^scripts/(score_metrics|propagate_pr_tasks)\.py$
      - id: detect-large-files
        name: detect-large-files
        entry: python scripts/detect_large_files.py
        language: python
        pass_filenames: false
        additional_dependencies: [pre-commit-hooks==5.0.0]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
        exclude: ^data/history/.*\.json\.gz$

  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.24
    hooks:
      - id: actionlint
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    rev: 7.2.0
    hooks:
      - id: flake8

feat: add metrics monitoring
  .github/workflows/metrics-monitor.yml
  docs/METRICS_ALERTS.md
  mkdocs.yml
  scripts/check_metrics.py
  tests/test_metrics_monitor.py
Due: pytest

Add logging and metrics instrumentation
  agentic_index_cli/agentic_index.py
  agentic_index_cli/internal/inject_readme.py
  api/sync.py
Due: pytest

docs: add PR checklist and review process
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: none

test: ensure inject_readme dry run
  README.md
  docs/DEVELOPMENT.md
  docs/ONBOARDING.md
  scripts/setup-env.sh
  tests/fixtures/README_fixture.md
  tests/test_inject_cli_script.py
Due: inject-readme, pytest

fix: update imports for new ranking modules
  agentic_index_api/server.py
  agentic_index_cli/internal/badges.py
  agentic_index_cli/internal/rank_main.py
  agentic_index_cli/internal/scoring.py
  agentic_index_cli/internal/snapshot.py
  agentic_index_cli/ranker.py
  scripts/generate_badges.py
  scripts/refresh_category.py
  tests/fixtures/README_fixture.md
  tests/test_api_score.py
  tests/test_badge_cache.py
  tests/test_by_category.py
  tests/test_category_cli_integration.py
  tests/test_deltas.py
  tests/test_fetch_badge.py
  tests/test_metric_plugins.py
  tests/test_refresh_category_integration.py
  tests/test_refresh_flags.py
Due: pytest

refactor: split indexing module
  agentic_index_cli/__main__.py
  agentic_index_cli/cli.py
  agentic_index_cli/enricher.py
  agentic_index_cli/internal/rank.py
  agentic_index_cli/internal/rank_main.py
  agentic_index_cli/network.py
  agentic_index_cli/rank.py
  agentic_index_cli/render.py
  agentic_index_cli/scoring.py
  agents.md
  api/sync.py
  lib/quality_metrics.py
  pyproject.toml
  tests/snapshots/README.md
  tests/test_agentic_index_network.py
  tests/test_agentic_index_utils.py
  tests/test_categorize_more.py
  tests/test_category_cli_integration.py
  tests/test_cli.py
  tests/test_cli_exitcodes.py
  tests/test_main_cli.py
  tests/test_quality_metrics_extra.py
  tests/test_run_index.py
  tests/test_score_formula.py
  tests/test_search_pagination.py
Due: inject-readme, pytest

docs: clarify schema v3 and migrations
  CONTRIBUTING.md
  docs/SCHEMA.md
  scripts/migrate_schema_v3.py
Due: pytest

refactor: centralize templates
  agentic_index_cli/internal/inject_readme.py
  agentic_index_cli/internal/rank.py
  agentic_index_cli/internal/rank_main.py
  agentic_index_cli/templates.py
Due: pytest

Add tests and fix markdown rendering
  agentic_index_cli/internal/inject_readme.py
  tests/snapshots/markdown_table.md
  tests/test_render_io.py
Due: pytest

docs(ci): document PIP_INDEX_URL usage
  docs/CI_SETUP.md
Due: none

docs: clarify setup script installs test deps
  README.md
  docs/ONBOARDING.md
Due: inject-readme

docs: add pip-licenses instructions
  CONTRIBUTING.md
Due: none

test: cover new internal utils
  tests/fixtures/README_fixture.md
  tests/test_http_utils.py
  tests/test_json_utils.py
Due: pytest

feat: add benchmark job and star-delta timing
  .github/workflows/ci.yml
  docs/PERFORMANCE.md
  scripts/benchmark_ops.py
Due: pytest

feat: add star delta benchmark
  .github/workflows/ci.yml
  docs/PERFORMANCE.md
  scripts/benchmark_ops.py
  scripts/setup-env.sh
Due: pytest

test: add property-based fuzz tests for JSON utils
  tests/test_json_utils_fuzz.py
Due: pytest

chore: add backlog tasks
  .codex/queue.yml
  tasks.yml
Due: none

Add unit tests for CLI commands
  tests/test_cli_commands.py
Due: pytest

chore: enable mypy for CLI modules
  .github/workflows/ci.yml
  agentic_index_cli/enricher.py
  agentic_index_cli/inject_readme.py
  agentic_index_cli/network.py
  mypy.ini
Due: pytest

Validate config with Pydantic
  agentic_index_cli/config.py
  agentic_index_cli/ranker.py
  tasks.yml
  tests/test_cli_wrappers.py
  tests/test_config.py
Due: pytest

Add configurable HTTP retries and timeouts
  agentic_index_cli/internal/http_utils.py
  agentic_index_cli/network.py
  tests/test_agentic_index_network.py
  tests/test_http_utils.py
Due: pytest

test: cover api_server failure scenarios
  tests/test_api_issue.py
Due: pytest

refactor: share README utils
  agentic_index_cli/internal/inject_readme.py
  agentic_index_cli/internal/readme_utils.py
Due: pytest

docs: refresh diagrams and add cli examples
  ARCHITECTURE.md
  FAST_START.md
  README.md
  docs/architecture/agentic_index_cli.svg
  tests/fixtures/README_fixture.md
Due: inject-readme

ci: enforce coverage and add SBOM
  .github/workflows/ci.yml
  .github/workflows/trivy.yml
Due: none

Add async concurrency to scraper
  agentic_index_cli/internal/scrape.py
Due: pytest

docs: add workflow environment guidance
  docs/CI_SETUP.md
Due: none

docs: fix broken links and add docs build instructions
  CONTRIBUTING.md
  docs/ONBOARDING.md
  docs/dev/contributing.md
  docs/readme_review/accessibility.md
  docs/readme_review/gaps.md
  docs/readme_review/structure.md
Due: none

test: enforce README output via allowlist
  .pre-commit-config.yaml
  tests/helpers.py
  tests/test_readme_regression.py
Due: pytest

docs: add self-audit and improvement tasks
  IMPROVEMENT_TASKS.yaml
  SELF_AUDIT.md
Due: none

Add CLI and API server tests
  tests/test_api_server_endpoints.py
  tests/test_cli_commands.py
  tests/test_main_cli.py
Due: pytest

Default CI_OFFLINE
  scripts/setup-env.sh
Due: none

chore: mark outstanding tasks complete
  tasks.yml
Due: none

Fix sync endpoint body parsing and add release hardening epic
  agentic_index_api/server.py
  docs/epics/release_0.1.1_hardening_epic.md
Due: pytest

Fix sync endpoint body parsing and add release hardening epic
  agentic_index_api/server.py
  docs/epics/release_0.1.1_hardening_epic.md
  tasks.yml
Due: pytest
