Repository adrianwedd/Agentic-Index: changes, and which pre-commit hooks are due for each by the changed paths.
All: inject-readme, pytest

inject-readme:
  name: Inject README top50
  entry: python scripts/inject_readme.py --check
  language: system

pytest:
  name: pytest
  entry: pytest --quiet --cov=agentic_index_cli
  language: system

feat(data): add schema v2 and migration
  agentic_index_cli/agentic_index.py
  agentic_index_cli/enricher.py
  agentic_index_cli/internal/rank.py
  agentic_index_cli/validate.py
  data/repos.json
  data/repos.schema.json
  scripts/migrate_schema_v2.py
  tests/test_repos_schema.py
  tests/test_schema.py
Due: pytest

feat: add repo scraper with star history
  agentic_index_cli/validate.py
  scripts/scrape_repos.py
  tests/test_scrape_repos.py
Due: pytest

Add quality metrics library and tests
  lib/__init__.py
  lib/quality_metrics.py
  tests/test_quality_metrics.py
Due: pytest

feat: render v2 README table
  agentic_index_cli/internal/inject_readme.py
  scripts/inject_readme.py
  tests/_utils.py
  tests/snapshots/README.md
  tests/test_inject_dry_run.py
  tests/test_inject_markers.py
  tests/test_inject_readme_unit.py
  tests/test_inject_script.py
  tests/test_readme_snapshot.py
  tests/test_sync.py
Due: inject-readme, pytest

Add repo count badge config
  .pre-commit-config.yaml
  README.md
  agentic_index_cli/internal/rank.py
  badges/repo_count.svg
  requirements.lock
  scripts/generate_badges.py
  tests/snapshots/README.md
  tests/test_badge_cache.py
  tests/test_badge_offline.py
  tests/test_badges.py
Due: inject-readme, pytest

test: handle missing snapshot
  tests/test_snapshot_presence.py
Due: pytest

feat(injector): add sort option
  agentic_index_cli/internal/inject_readme.py
  scripts/inject_readme.py
  tests/test_sorting.py
Due: pytest

refactor(injector): rename score column
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  agentic_index_cli/internal/inject_readme.py
  regression_allowlist.yml
  tests/snapshots/README.md
  tests/test_inject_markers.py
  tests/test_inject_readme_unit.py
  tests/test_inject_script.py
Due: inject-readme, pytest

feat: cache repo scraping
  README.md
  docs/DEVELOPMENT.md
  scripts/inject_readme.py
  scripts/scrape_repos.py
  tests/test_scrape_repos_cache.py
Due: inject-readme, pytest

ci: add nightly README refresh workflow
  .github/workflows/refresh.yml
Due: none

Add tolerant README comparison helper and tests
  tests/helpers.py
  tests/test_inject_dry_run.py
Due: pytest

docs: document v2 metrics and workflow
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  SCHEMA.md
Due: inject-readme

docs: add schema reference
  CONTRIBUTING.md
  README.md
  docs/SCHEMA.md
Due: inject-readme

docs: add architecture diagrams
  CONTRIBUTING.md
  docs/architecture/README.md
  docs/architecture/agentic_index_cli.svg
  docs/index.md
  requirements.txt
  scripts/gen_arch_diagrams.py
Due: inject-readme, pytest

docs: add sphinx configuration and examples
  .github/workflows/docs.yml
  .gitignore
  agentic_index_cli/enricher.py
  agentic_index_cli/helpers.py
  docs/sphinx/Makefile
  docs/sphinx/conf.py
  docs/sphinx/index.rst
  docs/sphinx/modules.rst
  requirements.lock
  requirements.txt
Due: pytest

Fix link integrity docstring
  agentic_index_cli/__init__.py
  agentic_index_cli/__main__.py
  agentic_index_cli/agentic_index.py
  agentic_index_cli/enricher.py
  agentic_index_cli/exceptions.py
  agentic_index_cli/faststart.py
  agentic_index_cli/generate_outputs.py
  agentic_index_cli/helpers.py
  agentic_index_cli/inject_readme.py
  agentic_index_cli/internal/__init__.py
  agentic_index_cli/internal/deltas.py
  agentic_index_cli/internal/inject_readme.py
  agentic_index_cli/internal/link_integrity.py
  agentic_index_cli/internal/rank.py
  agentic_index_cli/internal/regression_check.py
  agentic_index_cli/internal/scrape.py
  agentic_index_cli/plot_trends.py
  agentic_index_cli/prune.py
  agentic_index_cli/quality/__init__.py
  agentic_index_cli/quality/validate.py
  agentic_index_cli/validate.py
  lib/__init__.py
Due: pytest

test: handle abbr headers in readme comparison
  tests/helpers.py
  tests/test_parse_table_abbr.py
Due: pytest

ci: lower coverage gate
  pyproject.toml
Due: none

Recalibrate scoring weights
  README.md
  agentic_index_cli/agentic_index.py
  agentic_index_cli/internal/rank.py
  tests/_utils.py
  tests/helpers.py
  tests/snapshots/README.md
  tests/test_score_formula.py
Due: inject-readme, pytest

fix: normalize badge bytes and update tests
  agentic_index_cli/internal/rank.py
  tests/test_fetch_badge.py
Due: pytest

fix parsing of html in headers
  tests/helpers.py
  tests/test_parse_table_abbr.py
Due: pytest

Improve README diff helper
  tests/_utils.py
Due: pytest

Handle missing snapshot during README check
  agentic_index_cli/internal/inject_readme.py
  tests/test_snapshot_presence.py
Due: pytest

tests: use frozen README fixtures
  .gitignore
  tests/conftest.py
  tests/fixtures/README_fixture.md
  tests/fixtures/data/last_snapshot.json
  tests/fixtures/data/repos.json
  tests/fixtures/data/top50.md
  tests/test_inject_dry_run.py
Due: pytest

Improve assert_readme_equivalent diagnostics
  tests/helpers.py
Due: pytest

docs: fix badge markdown
  README.md
  tests/fixtures/README_fixture.md
  tests/snapshots/README.md
Due: inject-readme

Fix Sphinx build
  .github/workflows/docs.yml
  docs/requirements.txt
  docs/sphinx/conf.py
Due: pytest

feat(ci): auto-update coverage badge
  .github/workflows/ci.yml
  scripts/update_coverage_badge.py
  tests/test_update_coverage_badge.py
Due: pytest

docs: install pydantic for Sphinx
  .github/workflows/docs.yml
  docs/requirements.txt
  pyproject.toml
Due: none

chore(data): nightly agent index refresh
  README.md
  agentic_index.egg-info/PKG-INFO
  agentic_index.egg-info/SOURCES.txt
  agentic_index.egg-info/requires.txt
  agentic_index.egg-info/top_level.txt
  data/history/2025-06-14.json
  data/last_snapshot.txt
  data/top50.md
Due: inject-readme

test: replace match_querystring
  tests/test_scrape_errors.py
Due: pytest

fix: render missing metrics
  README.md
  agentic_index_cli/internal/inject_readme.py
  tests/fixtures/README_fixture.md
  tests/snapshots/README.md
  tests/test_no_zero_metrics.py
  tests/test_sync.py
Due: inject-readme, pytest

test: improve coverage
  tests/test_inject_cli_script.py
  tests/test_plot_trends.py
  tests/test_regression_check.py
Due: pytest

ci: include matplotlib for plot tests
  .pre-commit-config.yaml
  requirements.lock
  requirements.txt
  tests/snapshots/README.md
Due: inject-readme

feat(cli): add YAML config support
  README.md
  agentic_index_cli/config.py
  agentic_index_cli/config.yaml
  agentic_index_cli/internal/inject_readme.py
  agentic_index_cli/internal/rank.py
  agentic_index_cli/ranker.py
  scripts/rank.py
  tests/snapshots/README.md
  tests/test_config.py
Due: inject-readme, pytest

docs: update coverage badge
  README.md
  agentic_index.egg-info/PKG-INFO
  agentic_index.egg-info/SOURCES.txt
  agentic_index.egg-info/requires.txt
  agentic_index.egg-info/top_level.txt
  badges/coverage.svg
  badges/last_sync.svg
  badges/repo_count.svg
  badges/top_repo.svg
  coverage.xml
  data/last_snapshot.json
  data/repos.json
Due: inject-readme

ci: add detect-large-files hook
  .pre-commit-config.yaml
  scripts/detect_large_files.py
Due: pytest

ci: fix coverage badge regex
  scripts/update_coverage_badge.py
  tests/test_update_coverage_badge.py
Due: pytest

Path conditions:
  inject-readme: any of: README\.md and \.(md|markdown|mdown)$
  pytest: any of: \.py$
