Repository adrianwedd/Agentic-Index: changes, and which pre-commit hooks are due for each by the changed paths.
All: inject-readme, pytest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: inject-readme
        name: Inject README top100
        entry: python scripts/inject_readme.py --check
        language: system
        types: [markdown]
        pass_filenames: false
        files: README\.md
      - id: fixtures-validate
        name: Validate README fixtures
        entry: python scripts/validate_fixtures.py
        language: system
        pass_filenames: false
      - id: pytest
        name: pytest
        entry: pytest --quiet --cov=agentic_index_cli --cov-fail-under=0
        language: python
        additional_dependencies: [., pytest, pytest-cov, requests, PyYAML, jsonschema, pydantic, responses, pytest-socket, pytest-env, "typer[all]", matplotlib, fastapi, httpx, aiohttp, rich, click]
        files: \.py$
        exclude: ^scripts/(score_metrics|propagate_pr_tasks)\.py$
      - id: detect-large-files
        name: detect-large-files
        entry: python scripts/detect_large_files.py
        language: python
        pass_filenames: false
        additional_dependencies: [pre-commit-hooks==5.0.0]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
        exclude: ^data/history/.*\.json\.gz$

  - repo: https://github.com/rhysd/actionlint
    rev: v1.6.24
    hooks:
      - id: actionlint
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
  - repo: https://github.com/pycqa/flake8
    rev: 7.2.0
    hooks:
      - id: flake8

Fix sync endpoint body parsing and add release hardening epic
  agentic_index_api/server.py
  docs/epics/release_0.1.1_hardening_epic.md
  tasks.yml
Due: pytest

Fix scraper CLI and simplify CI
  .github/workflows/ci.yml
  agentic_index_api/server.py
  agentic_index_cli/scraper.py
  docs/epics/release_0.1.1_hardening_epic.md
  requirements.lock
  tasks.yml
Due: pytest

Add release tasks and fix CLI entry
  agentic_index_cli/scraper.py
  tasks.yml
Due: pytest

docs: add 0.1.1 review and update epic
  docs/epics/release_0.1.1_hardening_epic.md
  docs/release_0.1.1_code_review.md
Due: none

Add pipeline validation log
  docs/e2e_pipeline_validation.md
  docs/epics/release_0.1.1_hardening_epic.md
  docs/release_0.1.1_code_review.md
Due: none

Add FunkyAF demo script
  docs/FUNKY_DEMO.md
  docs/e2e_pipeline_validation.md
  docs/epics/release_0.1.1_hardening_epic.md
  docs/release_0.1.1_code_review.md
  scripts/funky_demo.py
Due: pytest

Add offline e2e test script
  docs/E2E_TEST.md
  docs/FUNKY_DEMO.md
  docs/e2e_pipeline_validation.md
  docs/epics/release_0.1.1_hardening_epic.md
  docs/release_0.1.1_code_review.md
  scripts/e2e_test.sh
  scripts/funky_demo.py
Due: pytest

Enhance FunkyAF demo with rich UX
  docs/E2E_TEST.md
  docs/FUNKY_DEMO.md
  docs/e2e_pipeline_validation.md
  docs/epics/release_0.1.1_hardening_epic.md
  docs/release_0.1.1_code_review.md
  scripts/e2e_test.sh
  scripts/funky_demo.py
  tasks.yml
Due: pytest

Add task validation tools and update setup
  AGENTS.md
  docs/DEVELOPMENT.md
  docs/process/decide.md
  docs/process/document.md
  requirements.txt
  schemas/task.schema.json
  scripts/rank_tasks.py
  scripts/setup-env.sh
  scripts/validate_tasks.py
  tests/test_task_helpers.py
Due: pytest

Add task validation tools and update setup
  AGENTS.md
  docs/DEVELOPMENT.md
  docs/E2E_TEST.md
  docs/FUNKY_DEMO.md
  docs/e2e_pipeline_validation.md
  docs/epics/release_0.1.1_hardening_epic.md
  docs/process/decide.md
  docs/process/document.md
  docs/release_0.1.1_code_review.md
  requirements.txt
  schemas/task.schema.json
  scripts/e2e_test.sh
  scripts/funky_demo.py
  scripts/rank_tasks.py
  scripts/setup-env.sh
  scripts/validate_tasks.py
  tasks.yml
  tests/test_task_helpers.py
Due: pytest

refine demo
  AGENTS.md
  docs/DEVELOPMENT.md
  docs/E2E_TEST.md
  docs/FUNKY_DEMO.md
  docs/e2e_pipeline_validation.md
  docs/epics/release_0.1.1_hardening_epic.md
  docs/process/decide.md
  docs/process/document.md
  docs/release_0.1.1_code_review.md
  requirements.txt
  schemas/task.schema.json
  scripts/e2e_test.sh
  scripts/funky_demo.py
  scripts/rank_tasks.py
  scripts/setup-env.sh
  scripts/validate_tasks.py
  tasks.yml
  tests/test_task_helpers.py
Due: pytest

docs: enable dark mode
  .github/workflows/docs.yml
  docs/requirements.txt
  docs/sphinx/conf.py
  mkdocs.yml
  scripts/funky_demo.py
Due: pytest

fix: commit all README files
  .github/workflows/inject-readme.yml
  .github/workflows/rank.yml
  agentic_index_cli/internal/inject_readme.py
  agentic_index_cli/internal/rank_main.py
  scripts/inject_readme.py
  scripts/refresh_category.py
  tests/test_inject_cli_script.py
  tests/test_ranked_output.py
Due: pytest

Fix e2e test script and mark task done
  scripts/e2e_test.sh
  tasks.yml
Due: none

ci: add e2e workflow
  .github/workflows/e2e.yml
  tasks.yml
Due: none

chore: fix docs requirement formatting
  docs/requirements.txt
Due: none

docs: add rollback instructions
  README.md
  docs/ROLLBACK.md
  tasks.yml
  tests/fixtures/README_fixture.md
Due: inject-readme

Add .env.example and document tokens
  .env.example
  README.md
Due: inject-readme

Improve coverage gate
  scripts/coverage_gate.py
  tests/test_coverage_gate.py
Due: pytest

chore: generate category readmes in update
  .github/workflows/update.yml
  README.md
  data/by_category/index.json
  tests/qa/test_category_feature_matrix.yml
  tests/snapshots/README.md
Due: inject-readme

Fix license links formatting
  README.md
Due: inject-readme

refactor: centralize SCORE_KEY constant
  agentic_index_cli/cli.py
  agentic_index_cli/constants.py
  agentic_index_cli/internal/rank.py
  agentic_index_cli/internal/rank_main.py
  agentic_index_cli/internal/scoring.py
  agentic_index_cli/internal/snapshot.py
  agentic_index_cli/network.py
  agentic_index_cli/render.py
  agentic_index_cli/scoring.py
Due: pytest

docs: expand methodology
  README.md
  docs/methodology.md
Due: inject-readme

fix pre-commit import
  scripts/detect_large_files.py
Due: pytest

Pin dependencies and update fixture
  dev-requirements.lock
  dev-requirements.txt
  requirements.lock
  requirements.txt
  tests/fixtures/README_fixture.md
Due: none

build: update dependencies and lock file
  .github/workflows/ci.yml
  README.md
  docs/CI_SETUP.md
  docs/DEVELOPMENT.md
  docs/ONBOARDING.md
  requirements.lock
  tests/fixtures/README_fixture.md
Due: inject-readme

docs: add backlog tasks
  tasks.yml
Due: none

Migrate demo API to agentic_index_api
  agentic_index.egg-info/SOURCES.txt
  agentic_index_api/simple_app.py
  agentic_index_api/sync_utils.py
  agents.md
  api/__init__.py
  scripts/refresh_category.py
  tests/test_api_sync.py
  tests/test_render_endpoint.py
Due: pytest

feat: add shared GitHub client
  agentic_index_cli/github_client.py
  agentic_index_cli/internal/scrape.py
  agentic_index_cli/network.py
  tests/test_agentic_index_network.py
  tests/test_cli_exitcodes.py
  tests/test_github_client.py
  tests/test_quota.py
  tests/test_refresh_flags.py
  tests/test_scrape_errors.py
  tests/test_scrape_mock.py
Due: pytest

Add Settings model and update server config
  agentic_index_api/config.py
  agentic_index_api/server.py
  tests/test_api_auth.py
  tests/test_api_server.py
  tests/test_api_server_endpoints.py
Due: pytest

Add Claude Code Action workflow
  .github/workflows/claude-code-action.yml
  agents.md
Due: none

fix: repair data pipeline scoring and workflow issues
  .gitignore
Due: none

docs: restore AGENTS.md and update with new agent information
  AGENTS.md
Due: none

docs: update agents.md with new agent information
  agents.md
Due: none
